<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <properties resource="Config/properties.config" />
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
  </settings>
  <sqlMaps>
    <sqlMap resource="Config/Maps/Sql/Sys/CloudDesk/Pendant.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/CloudDesk/PendantUser.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/DockPanel/SysDockPanel.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/PubFuJian.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/PubTable.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/PubTableConfig.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysChangLog.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysLog.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysPubCode.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysPubSms.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysPubXSelect.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysPubXSelectSub.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysRegistered.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysTableId.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/SysUpdateLog.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Common/ContentManage.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysJiaoSe.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysMenu.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysPrivilege.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysPrivilegeJSRel.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysUserJSRel.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysZiYuan.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Privilege/SysOrganizeCaozuo.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindAllItem.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindConfig.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindEmail.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindMessageLog.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindMessageQueue.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindUserItem.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Remind/RemindSqlMapSource.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Sms/SysSmsContentSetting.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/DataService/DataServiceLogConfig.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/DataService/DataServiceLogConfigDetail.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/DataService/DataServiceLog.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysDanWeiInfo.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysDepartment.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysDesk.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysPost.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysStatus.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysUser.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysUserDesk.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysUserInfo.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysUserWorkState.xml" />
    <sqlMap resource="Config/Maps/Sql/Sys/Structure/SysOrganize.xml" />
  </sqlMaps>
</sqlMapConfig>