#/CabioMis/bin/Debug/
/CabioMis/obj/
/Cabio.BLL/bin/
/Cabio.BLL/obj/
/Cabio.DLL/bin/
/Cabio.DLL/obj/
/Cabio.Model/bin/
/Cabio.Model/obj/
/com.uceip.Common/bin/
/com.uceip.Common/obj/
/com.uceip.DBUtility/bin/
/com.uceip.DBUtility/obj/