/*P.one{FONT-SIZE:20pt;COLOR:blue;FONT-FAMILY:宋体;LIST-STYLE-TYPE:circle;
  TEXT-DECORATION:underline}*/
P.two{FONT-SIZE:20pt;COLOR:red;FONT-FAMILY:宋体;LIST-STYLE-TYPE:circle;
  TEXT-DECORATION:underline}
P.three{FONT-SIZE:20pt;COLOR:yellow;FONT-FAMILY:宋体;LIST-STYLE-TYPE:circle;
  TEXT-DECORATION:underline}
.four{FONT-SIZE:20pt;COLOR:green;FONT-FAMILY:宋体;LIST-STYLE-TYPE:circle;
  TEXT-DECORATION:underline}  
#blue{FONT-SIZE:20pt;COLOR:blue;FONT-FAMILY:宋体;LIST-STYLE-TYPE:circle;
  TEXT-DECORATION:underline}    
p em{background:yellow}  